In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

%matplotlib inline
pd.set_option('display.max_rows', 500)

In [2]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.tail(100)

,date,state,country,confirmed
29160,2020-05-10,Hebei,China,328
29161,2020-05-10,no,Zambia,267
29162,2020-05-10,Alberta,Canada,6253
29163,2020-05-10,Anguilla,United Kingdom,3
29164,2020-05-10,Anhui,China,991
29165,2020-05-10,Aruba,Netherlands,101
29166,2020-05-10,Australian Capital Territory,Australia,107
29167,2020-05-10,Beijing,China,593
29168,2020-05-10,Bermuda,United Kingdom,118
29169,2020-05-10,"Bonaire, Sint Eustatius and Saba",Netherlands,6
29170,2020-05-10,British Columbia,Canada,2330
29171,2020-05-10,British Virgin Islands,United Kingdom,7
29172,2020-05-10,Cayman Islands,United Kingdom,81
29173,2020-05-10,Channel Islands,United Kingdom,545
29174,2020-05-10,Chongqing,China,579
29175,2020-05-10,Saint Pierre and Miquelon,France,1
29176,2020-05-10,Curacao,Netherlands,16
29177,2020-05-10,Falkland Islands (Malvinas),United Kingdom,13
29178,2020-05-10,Faroe Islands,Denmark,187
29179,2020-05-10,French Guiana,France,144
29180,2020-05-10,French Polynesia,France,60
29181,2020-05-10,Fujian,China,356
29182,2020-05-10,Gansu,China,139
29183,2020-05-10,Gibraltar,United Kingdom,146
29184,2020-05-10,Grand Princess,Canada,13
29185,2020-05-10,Greenland,Denmark,11
29186,2020-05-10,Guadeloupe,France,154
29187,2020-05-10,Guangdong,China,1589
29188,2020-05-10,Guangxi,China,254
29189,2020-05-10,Guizhou,China,147
29190,2020-05-10,Hainan,China,168
29191,2020-05-10,Diamond Princess,Canada,1
29192,2020-05-10,no,Ecuador,29559
29193,2020-05-10,Saskatchewan,Canada,564
29194,2020-05-10,Shandong,China,788
29195,2020-05-10,no,Bolivia,2556
29196,2020-05-10,no,Bosnia and Herzegovina,2117
29197,2020-05-10,no,Botswana,23
29198,2020-05-10,no,Brazil,162699
29199,2020-05-10,no,Brunei,141
29200,2020-05-10,no,Bulgaria,1965
29201,2020-05-10,no,Burkina Faso,751
29202,2020-05-10,no,Burma,180
29203,2020-05-10,no,Burundi,15
29204,2020-05-10,no,Cabo Verde,246
29205,2020-05-10,no,Cambodia,122
29206,2020-05-10,no,Cameroon,2579
29207,2020-05-10,no,Central African Republic,143
29208,2020-05-10,no,Chad,322
29209,2020-05-10,no,Chile,28866
29210,2020-05-10,no,Colombia,11063
29211,2020-05-10,no,Comoros,11
29212,2020-05-10,no,Congo (Brazzaville),274
29213,2020-05-10,no,Congo (Kinshasa),991
29214,2020-05-10,no,Costa Rica,792
29215,2020-05-10,no,Cote d'Ivoire,1700
29216,2020-05-10,no,Croatia,2187
29217,2020-05-10,no,Cuba,1766
29218,2020-05-10,no,Cyprus,898
29219,2020-05-10,no,Czechia,8123
29220,2020-05-10,no,Denmark,10429
29221,2020-05-10,no,Diamond Princess,712
29222,2020-05-10,no,Djibouti,1210
29223,2020-05-10,no,Dominica,16
29224,2020-05-10,no,Bhutan,7
29225,2020-05-10,no,Benin,319
29226,2020-05-10,no,Belize,18
29227,2020-05-10,no,Belgium,53081
29228,2020-05-10,Shanxi,China,198
29229,2020-05-10,Sichuan,China,561
29230,2020-05-10,Sint Maarten,Netherlands,76
29231,2020-05-10,South Australia,Australia,439
29232,2020-05-10,St Martin,France,39
29233,2020-05-10,Tasmania,Australia,227
29234,2020-05-10,Tianjin,China,191
29235,2020-05-10,Tibet,China,1
29236,2020-05-10,Turks and Caicos Islands,United Kingdom,12
29237,2020-05-10,Victoria,Australia,1496
29238,2020-05-10,Western Australia,Australia,552
29239,2020-05-10,Xinjiang,China,76
29240,2020-05-10,Yukon,Canada,11
29241,2020-05-10,Yunnan,China,185
29242,2020-05-10,Shaanxi,China,308
29243,2020-05-10,Zhejiang,China,1268
29244,2020-05-10,no,Albania,868
29245,2020-05-10,no,Algeria,5723
29246,2020-05-10,no,Andorra,755
29247,2020-05-10,no,Angola,45
29248,2020-05-10,no,Antigua and Barbuda,25
29249,2020-05-10,no,Argentina,6034
29250,2020-05-10,no,Armenia,3313
29251,2020-05-10,no,Austria,15871
29252,2020-05-10,no,Azerbaijan,2519
29253,2020-05-10,no,Bahamas,92
29254,2020-05-10,no,Bahrain,4941
29255,2020-05-10,no,Bangladesh,14657
29256,2020-05-10,no,Barbados,84
29257,2020-05-10,no,Belarus,22973
29258,2020-05-10,no,Afghanistan,4402
29259,2020-05-10,no,Zimbabwe,36

In [3]:
test_data=pd_JH_data[((pd_JH_data['country']=='US')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>'2020-03-20')]

In [4]:
test_data

            date state  country  confirmed
15738 2020-03-21    no  Germany      22213
15777 2020-03-21    no       US      25600
16003 2020-03-22    no  Germany      24873
16042 2020-03-22    no       US      33276
16270 2020-03-23    no  Germany      29056
16309 2020-03-23    no       US      43843
16536 2020-03-24    no  Germany      32986
16575 2020-03-24    no       US      53736
16800 2020-03-25    no  Germany      37323
16839 2020-03-25    no       US      65778
17067 2020-03-26    no  Germany      43938
17121 2020-03-26    no       US      83836
17333 2020-03-27    no  Germany      50871
17373 2020-03-27    no       US     101657
17598 2020-03-28    no  Germany      57695
17637 2020-03-28    no       US     121465
17866 2020-03-29    no  Germany      62095
17905 2020-03-29    no       US     140909
18131 2020-03-30    no  Germany      66885
18171 2020-03-30    no       US     161831
18397 2020-03-31    no  Germany      71808
18436 2020-03-31    no       US     188172
18664 2020-04-01    no  Germany      77872
18703 2020-04-01    no       US     213242
18930 2020-04-02    no  Germany      84794
18969 2020-04-02    no       US     243622
19196 2020-04-03    no  Germany      91159
19234 2020-04-03    no       US     275367
19462 2020-04-04    no  Germany      96092
19501 2020-04-04    no       US     308650
19728 2020-04-05    no  Germany     100123
19767 2020-04-05    no       US     336802
19993 2020-04-06    no  Germany     103374
20032 2020-04-06    no       US     366317
20259 2020-04-07    no  Germany     107663
20298 2020-04-07    no       US     397121
20525 2020-04-08    no  Germany     113296
20565 2020-04-08    no       US     428654
20791 2020-04-09    no  Germany     118181
20830 2020-04-09    no       US     462780
21057 2020-04-10    no  Germany     122171
21111 2020-04-10    no       US     496535
21324 2020-04-11    no  Germany     124908
21364 2020-04-11    no       US     526396
21589 2020-04-12    no  Germany     127854
21629 2020-04-12    no       US     555313
21855 2020-04-13    no  Germany     130072
21896 2020-04-13    no       US     580619
22121 2020-04-14    no  Germany     131359
22160 2020-04-14    no       US     607670
22388 2020-04-15    no  Germany     134753
22427 2020-04-15    no       US     636350
22654 2020-04-16    no  Germany     137698
22693 2020-04-16    no       US     667592
22920 2020-04-17    no  Germany     141397
22958 2020-04-17    no       US     699706
23186 2020-04-18    no  Germany     143342
23225 2020-04-18    no       US     732197
23452 2020-04-19    no  Germany     145184
23491 2020-04-19    no       US     758809
23717 2020-04-20    no  Germany     147065
23756 2020-04-20    no       US     784326
23983 2020-04-21    no  Germany     148291
24022 2020-04-21    no       US     811865
24249 2020-04-22    no  Germany     150648
24289 2020-04-22    no       US     840351
24515 2020-04-23    no  Germany     153129
24554 2020-04-23    no       US     869170
24781 2020-04-24    no  Germany     154999
24835 2020-04-24    no       US     905358
25048 2020-04-25    no  Germany     156513
25088 2020-04-25    no       US     938154
25313 2020-04-26    no  Germany     157770
25353 2020-04-26    no       US     965785
25579 2020-04-27    no  Germany     158758
25620 2020-04-27    no       US     988197
25846 2020-04-28    no  Germany     159912
25885 2020-04-28    no       US    1012582
26110 2020-04-29    no  Germany     161539
26149 2020-04-29    no       US    1039909
26377 2020-04-30    no  Germany     163009
26431 2020-04-30    no       US    1069424
26643 2020-05-01    no  Germany     164077
26683 2020-05-01    no       US    1103461
26908 2020-05-02    no  Germany     164967
26947 2020-05-02    no       US    1132539
27176 2020-05-03    no  Germany     165664
27215 2020-05-03    no       US    1158040
27441 2020-05-04    no  Germany     166152
27482 2020-05-04    no       US    1180375
27707 2020-05-05    no  Germany     167007
27746 2020-05-05    no       US    1204351
27974 2020-05-06    no  Germany     168162
28013 2020-05-06    no       US    1229331
28240 2020-05-07    no  Germany     169430
28279 2020-05-07    no       US    1257023
28505 2020-05-08    no  Germany     170588
28559 2020-05-08    no       US    1283929
28772 2020-05-09    no  Germany     171324
28812 2020-05-09    no       US    1309550
29037 2020-05-10    no  Germany     171879
29078 2020-05-10    no       US    1329260

In [5]:
test_data.groupby(['country']).agg(np.max)

              date state  confirmed
country
Germany 2020-05-10    no     171879
US      2020-05-10    no    1329260

In [6]:
import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)

def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate'''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

In [7]:
test_data.groupby(['state','country']).agg(np.max)

                    date  confirmed
state country
no    Germany 2020-05-10     171879
      US      2020-05-10    1329260

In [8]:
def rolling_reg(df_input,col='confirmed'):
    ''' input has to be a data frame'''
    ''' return is single series (mandatory for group by apply)'''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [9]:
test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     Germany  15738           NaN
                16003           NaN
                16270      7.417994
                16536      7.142035
                16800      8.012983
                17067      6.954407
                17333      6.501919
                17598      7.390371
                17866     10.136671
                18131     13.541893
                18397     13.781393
                18664     13.140681
                18930     12.037271
                19196     12.735506
                19462     16.052694
                19728     21.372453
                19993     27.427355
                20259     27.511936
                20525     21.792179
                20791     21.495848
                21057     26.565108
                21324     36.198404
                21589     43.982990
                21855     49.423444
                22121     74.043747
                22388     56.424411
                22654     42.468318
                22920     41.525988
                23186     49.898063
                23452     75.684007
                23717     78.000000
                23983     94.526338
                24249     82.985208
                24515     62.294061
                24781     70.294338
                25048     91.536840
                25313    112.903164
                25579    140.472457
                25846    148.285092
                26110    115.116625
                26377    104.285868
                26643    128.349094
                26908    167.535921
                27176    207.816845
                27441    279.484107
                27707    247.616282
                27974    166.275622
                28240    138.835878
                28505    139.648255
                28772    179.986624
                29037    265.319391
       US       15777           NaN
                16042           NaN
                16309      3.753732
                16575      4.263767
                16839      4.964881
                17121      4.503876
                17373      4.668859
                17637      5.438323
                17905      6.182802
                18171      7.005979
                18436      6.924543
                18703      7.303820
                18969      7.755167
                19234      7.857610
                19501      8.484950
                19767      9.992339
                20032     11.696684
                20298     12.160237
                20565     12.748897
                20830     13.083304
                21111     13.631394
                21364     15.569574
                21629     17.900620
                21896     20.438166
                22160     22.201450
                22427     21.826739
                22693     21.267781
                22958     21.083486
                23225     21.664938
                23491     24.710669
                23756     29.098736
                24022     29.591375
                24289     28.993509
                24554     29.332938
                24835     26.816384
                25088     26.215567
                25353     30.993838
                25620     38.528679
                25885     42.261456
                26149     39.200289
                26431     36.615120
                26683     33.702522
                26947     34.914299
                27215     41.457215
                27482     48.372969
                27746     50.999633
                28013     49.215037
                28279     46.713054
                28559     46.036888
                28812     48.870130
                29078     57.690308
Name: confirmed, dtype: float64

In [10]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()

In [11]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'doubling_rate',
                             'level_2':'index'})
pd_DR_result.head()

     state country  index  doubling_rate
0  Alberta  Canada      0            NaN
1  Alberta  Canada    465            NaN
2  Alberta  Canada    701            NaN
3  Alberta  Canada    998            NaN
4  Alberta  Canada   1231            NaN

In [12]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada          0
1      1 2020-01-22       no         Kenya          0
2      2 2020-01-22       no  Korea, South          1
3      3 2020-01-22       no        Kosovo          0
4      4 2020-01-22       no        Kuwait          0

In [13]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','doubling_rate']],on=['index'],how='left')
pd_result_larg

       index       date    state       country  confirmed  doubling_rate
0          0 2020-01-22  Alberta        Canada          0            NaN
1          1 2020-01-22       no         Kenya          0            NaN
2          2 2020-01-22       no  Korea, South          1            NaN
3          3 2020-01-22       no        Kosovo          0            NaN
4          4 2020-01-22       no        Kuwait          0            NaN
...      ...        ...      ...           ...        ...            ...
29255  29255 2020-05-10       no    Bangladesh      14657      18.192602
29256  29256 2020-05-10       no      Barbados         84     167.333333
29257  29257 2020-05-10       no       Belarus      22973      23.549145
29258  29258 2020-05-10       no   Afghanistan       4402      13.048077
29259  29259 2020-05-10       no      Zimbabwe         36      35.000000

[29260 rows x 6 columns]

In [14]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','doubling_rate']],on=['index'],how='left')
pd_result_larg.tail()

       index       date state      country  confirmed  doubling_rate
29255  29255 2020-05-10    no   Bangladesh      14657      18.192602
29256  29256 2020-05-10    no     Barbados         84     167.333333
29257  29257 2020-05-10    no      Belarus      22973      23.549145
29258  29258 2020-05-10    no  Afghanistan       4402      13.048077
29259  29259 2020-05-10    no     Zimbabwe         36      35.000000

# Filtering

In [15]:
from scipy import signal

def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [16]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

In [17]:
pd_filtered_result

       index    state       country  confirmed  confirmed_filtered
0          0  Alberta        Canada          0                 0.0
1          1       no         Kenya          0                 0.0
2          2       no  Korea, South          1                 0.8
3          3       no        Kosovo          0                 0.0
4          4       no        Kuwait          0                 0.0
...      ...      ...           ...        ...                 ...
29255  29255       no    Bangladesh      14657             14585.2
29256  29256       no      Barbados         84                84.2
29257  29257       no       Belarus      22973             22973.8
29258  29258       no   Afghanistan       4402              4331.6
29259  29259       no      Zimbabwe         36                35.6

[29260 rows x 5 columns]

Inner Join Between Data

In [18]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,doubling_rate,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0,NaN,0.0
1,1,2020-01-22,no,Kenya,0,NaN,0.0
2,2,2020-01-22,no,"Korea, South",1,NaN,0.8
3,3,2020-01-22,no,Kosovo,0,NaN,0.0
4,4,2020-01-22,no,Kuwait,0,NaN,0.0

# Filtering The Doubling Late

In [19]:
pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'doubling_rate_filtered',
                             'level_2':'index'})

pd_filtered_doubling.tail()

      state   country  index  doubling_rate_filtered
29255    no  Zimbabwe  28062                     inf
29256    no  Zimbabwe  28260              340.666667
29257    no  Zimbabwe  28557              114.222222
29258    no  Zimbabwe  28792               76.962963
29259    no  Zimbabwe  29259               70.200000

In [20]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','doubling_rate_filtered']],on=['index'],how='left')
pd_result_larg.tail()

,index,date,state,country,confirmed,doubling_rate,confirmed_filtered,doubling_rate_filtered
29255,29255,2020-05-10,no,Bangladesh,14657,18.192602,14585.2,19.198310
29256,29256,2020-05-10,no,Barbados,84,167.333333,84.2,139.333333
29257,29257,2020-05-10,no,Belarus,22973,23.549145,22973.8,23.650000
29258,29258,2020-05-10,no,Afghanistan,4402,13.048077,4331.6,16.395984
29259,29259,2020-05-10,no,Zimbabwe,36,35.000000,35.6,70.200000

In [21]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['doubling_rate_filtered']=pd_result_larg['doubling_rate_filtered'].where(mask, other=np.NaN)

In [22]:
pd_result_larg.tail()

,index,date,state,country,confirmed,doubling_rate,confirmed_filtered,doubling_rate_filtered
29255,29255,2020-05-10,no,Bangladesh,14657,18.192602,14585.2,19.198310
29256,29256,2020-05-10,no,Barbados,84,167.333333,84.2,NaN
29257,29257,2020-05-10,no,Belarus,22973,23.549145,22973.8,23.650000
29258,29258,2020-05-10,no,Afghanistan,4402,13.048077,4331.6,16.395984
29259,29259,2020-05-10,no,Zimbabwe,36,35.000000,35.6,NaN

In [23]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv',sep=';',index=False)

In [24]:
# %load src/visualization/visualize.py
import pandas as pd
import numpy as np

import dash
dash.__version__
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output,State

import plotly.graph_objects as go

import os
print(os.getcwd())
df_input_large=pd.read_csv('../data/processed/COVID_final_set.csv',sep=';')


fig = go.Figure()

app = dash.Dash()
app.layout = html.Div([

    dcc.Markdown('''
    #  Applied Data Science on COVID-19 data

    Goal of the project is to teach data science by applying a cross industry standard process,
    it covers the full walkthrough of: automated data gathering, data transformations,
    filtering and machine learning to approximating the doubling time, and
    (static) deployment of responsive dashboard.

    '''),

    dcc.Markdown('''
    ## Multi-Select Country for visualization
    '''),


    dcc.Dropdown(
        id='country_drop_down',
        options=[ {'label': each,'value':each} for each in df_input_large['country'].unique()],
        value=['US', 'Germany','Italy'], # which are pre-selected
        multi=True
    ),

    dcc.Markdown('''
        ## Select Timeline of confirmed COVID-19 cases or the approximated doubling time
        '''),


    dcc.Dropdown(
    id='doubling_time',
    options=[
        {'label': 'Timeline Confirmed ', 'value': 'confirmed'},
        {'label': 'Timeline Confirmed Filtered', 'value': 'confirmed_filtered'},
        {'label': 'Timeline Doubling Rate', 'value': 'doubling_rate'},
        {'label': 'Timeline Doubling Rate Filtered', 'value': 'doubling_rate_filtered'},
    ],
    value='confirmed',
    multi=False
    ),

    dcc.Graph(figure=fig, id='main_window_slope')
])



@app.callback(
    Output('main_window_slope', 'figure'),
    [Input('country_drop_down', 'value'),
    Input('doubling_time', 'value')])
def update_figure(country_list,show_doubling):


    if 'doubling_rate' in show_doubling:
        my_yaxis={'type':"log",
               'title':'Approximated doubling rate over 3 days (larger numbers are better #stayathome)'
              }
    else:
        my_yaxis={'type':"log",
                  'title':'Confirmed infected people (source johns hopkins csse, log-scale)'
              }


    traces = []
    for each in country_list:

        df_plot=df_input_large[df_input_large['country']==each]

        if show_doubling=='doubling_rate_filtered':
            df_plot=df_plot[['state','country','confirmed','confirmed_filtered','doubling_rate','doubling_rate_filtered','date']].groupby(['country','date']).agg(np.mean).reset_index()
        else:
            df_plot=df_plot[['state','country','confirmed','confirmed_filtered','doubling_rate','doubling_rate_filtered','date']].groupby(['country','date']).agg(np.sum).reset_index()
        #print(show_doubling)


        traces.append(dict(x=df_plot.date,
                                y=df_plot[show_doubling],
                                mode='markers+lines',
                                opacity=0.9,
                                name=each
                        )
                )

    return {
            'data': traces,
            'layout': dict (
                width=1280,
                height=720,

                xaxis={'title':'Timeline',
                        'tickangle':-45,
                        'nticks':20,
                        'tickfont':dict(size=14,color="#7f7f7f"),
                      },

                yaxis=my_yaxis
        )
    }

if __name__ == '__main__':

    app.run_server(debug=True, use_reloader=False)

C:\Users\JOJO JOHNSON\covid-19_anaylsis\notebooks
Running on http://127.0.0.1:8050/
Debugger PIN: 805-496-601
 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on